*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}                                               /* */

header .container{
    display: flex;
    justify-content: space-between
}                                               

body > header{
    background-color: rgb(20, 8, 69);
    padding: 16px 0;
    color: aliceblue;
}

header li{
    display: inline;
}                                                   /* coloca os "li" na mesma linha. Botôes que direcionam às seçoes
*/

header li a{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
}                                                   /* Alter as configurações dos "a" dentro de "li", botôes que direcionam às seções*/

.container {
    width: 1366px;
    margin: 0 auto;

}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 180px;
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2, .articles article{
    margin-bottom: 16px  ;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: blue;
    color: white;
    padding: 2px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p, .articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#sports{
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color: green;
}

#economy{
    background-color: rgb(231, 231, 155);
}

#economy .articles article a{
    background-color: rgb(254, 197, 92);
}

#tech {
    background-color: rgb(162, 186, 236) ;
}

#tech .articles article a{
    background-color: rgb(18, 91, 237);
}

#entreter{
    background-color: rgb(235, 159, 212);
}

#entreter .articles article a{
    background-color: rgb(245, 96, 200);
}